<div class="club-card" style="width: 15rem">
    <img class="club-img" src="{{img}}" alt="clubs">
    <div class="club-info">
        <h5 class="club-name">{{name}}</h5>
        <p>{{description}}</p>
    </div>
    <a href="/clubs/{{id}}" class="btn btn-primary">More Information</a>
</div>